.community-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

ul.cards {
    flex: 2;
    margin-right: 10px;
    font-size: 12px;
}

ul.cards li {
    box-shadow: 0 2px 5px #999;
    list-style: none;
    border-radius: 5px;
    display: flex;
    padding: 25px;
    margin-bottom: 30px;
}

ul.cards li .user {
    width: 120px;
    text-align: center;
    margin-right: 50px;
}

ul.cards li .user .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: contain;
    background-position: center;
    border: 2px solid #333;
    margin: 0 auto;
    margin-bottom: 15px;
}

ul.cards li .info {
    flex: 1;
}

ul.cards li .info .row {
    display: flex;
    margin: 4px 0 4px;
}

ul.cards li .info .row span:not(:last-of-type) {
    margin-right: 20px;
}

ul.cards li .info .row {
    display: flex;
    margin: 4px 0 4px;
}

ul.cards li .info .row.comments-row {
    justify-content: space-between;
    margin-top: 10px;
}

ul.cards li .info .row.comments-row p {
    text-align: left;
    color: #999;
}

ul.cards li .info .row .comments {
    align-self: flex-end;
}

.symptoms {
    flex: 1;
    padding: 30px;
}

.symtoms_button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.polls {
    margin-bottom: 50px;
    height: 200px;
}

.formTitle{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
    margin-top: 20px;

}

.formContent{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.clip-me{
    position: relative;
    overflow: hidden;
    height: 570px;
}

.test-widgets {
    position: absolute;
    bottom: -240px;
    left: 0;
    width: 100%;
}
