.input-container {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form {
    position: relative;
    width: 300px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
}

.button {
    background-color: #2845e9; 
    border: none;
    color: rgba(255, 255, 255, 0.787);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
}

.button:hover {
    background-color: #6d76f7;
    /* background-color: #1DAC93; */
    border-radius: 30px;
    transition: all 0.2s ease-out;
  }
