*{
    padding: 0;
    box-sizing:border-box;
}

body{
    margin: 0 auto;
}

.all-news {
    margin: 50px;
    display: grid;
    alignment: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
}

.news{
    max-width: 500px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.url {
    text-decoration: none;
}

.url:link {
    font-size: 20px;
    color: green;
    background-color: transparent;
    text-decoration: none;
}

.url:visited {
    color: #8ba8a1;
    background-color: transparent;
    text-decoration: none;
}

.url:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.url:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.news-title {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.news-img {
    width: 400px;
}

.news-description {
    padding-top: 10px;
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 10px;
}

.news-author {
    margin-right: 10px;
    color: purple;
}

.news-published {
    margin-right: 10px;
}

.news-source, .news-published {
    display: inline-block;
    margin-top: 10px;
    color: #a4a2a2;
}